version: "3.9"

services:
  db:
    image: postgres:15
    container_name: encodex-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: encodex
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
